.posts__head,
.posts__item {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.posts__head > *,
.posts__item > * {
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.posts__head {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}
.posts__body {
  border: solid 1px #f3f4f5;
}
.posts__item {
  background-color: #ffffff;
}
@media only screen and (min-width: 1040px) {
  .posts__item {
    padding: 24px 0;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__item {
    padding: 15px 0;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__item.posts__item--bg-gradient {
    background-image: url('../images/topic-bg-gradient.jpg');
    background-size: cover;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__item.posts__item--bg-gradient {
    background-color: #f2f4f6;
  }
}
.posts__section-left,
.posts__section-right {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (min-width: 1040px) {
  .posts__section-left,
  .posts__section-right {
    align-items: center;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__section-left,
  .posts__section-right {
    flex-direction: column;
    justify-content: center;
  }
}
.posts__section-left > *,
.posts__section-right > * {
  align-items: center;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
@media only screen and (min-width: 1040px) {
  .posts__section-left {
    width: 63%;
    min-width: 63%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__section-left {
    padding-left: 15px;
    align-items: flex-start;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__section-right {
    width: 37%;
    min-width: 37%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__section-right {
    padding-right: 15px;
    margin-left: auto;
    align-items: flex-end;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__topic {
    width: 50%;
    min-width: 50%;
  }
}
.posts__item .posts__topic {
  padding-right: 15px;
}
@media only screen and (min-width: 1040px) {
  .posts__item .posts__topic {
    padding-left: 30px;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__section-left .posts__topic {
    width: 79.37%;
    min-width: 79.37%;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__category {
    width: 13%;
    min-width: 13%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__head .posts__category {
    display: none;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__section-left .posts__category {
    margin-left: auto;
    width: 20.63%;
    min-width: 20.63%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__section-left .posts__category {
    margin-top: 15px;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__users {
    width: 13%;
    min-width: 13%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__users {
    display: none !important;
  }
}
.posts__users > div {
  position: relative;
}
.posts__users-dropdown > * {
  width: 320px;
}
.posts__item .posts__users {
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.posts__item .posts__users > *:not(:last-child) {
  margin-right: 6px;
}
@media only screen and (min-width: 1040px) {
  .posts__section-right .posts__users {
    width: 35.13%;
    min-width: 35.13%;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__replies {
    width: 8%;
    min-width: 8%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__head .posts__replies {
    margin-left: auto;
  }
}
.posts__item .posts__replies {
  font-weight: 600;
}
@media only screen and (min-width: 1040px) {
  .posts__section-right .posts__replies {
    width: 21.62%;
    min-width: 21.62%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__section-right .posts__replies {
    justify-content: flex-end;
  }
}
.posts__views {
  color: #8e9091;
}
@media only screen and (min-width: 1040px) {
  .posts__views {
    width: 8%;
    min-width: 8%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__views {
    display: none !important;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__section-right .posts__views {
    width: 21.62%;
    min-width: 21.62%;
  }
}
.posts__activity {
  color: #8e9091;
}
@media only screen and (min-width: 1040px) {
  .posts__activity {
    width: 8%;
    min-width: 8%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__head .posts__activity {
    display: none !important;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__item .posts__activity {
    padding-top: 4px;
    margin-top: 4px;
    border-top: solid 1px #e9ecee;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__section-right .posts__activity {
    width: 21.62%;
    min-width: 21.62%;
  }
}
@media only screen and (max-width: 1039px) {
  .posts__section-right .posts__activity {
    justify-content: flex-end;
  }
}
@media only screen and (min-width: 1040px) {
  .posts__replies,
  .posts__views,
  .posts__activity {
    justify-content: center;
  }
}
.posts__content h3 {
  margin: 0;
  font-weight: 400;
  font-size: 17px;
  line-height: 1.6;
  color: #394047;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.posts__content h3 span {
  margin-right: 5px;
  color: #8e9091;
}
.posts__content p {
  margin: 0;
  line-height: 1.6;
  color: #8e9091;
}
@media only screen and (max-width: 1039px) {
  .posts__content p {
    display: none;
  }
}
.posts__content i {
  margin-right: 15px;
  vertical-align: -2px;
  font-size: 20px;
  color: #5c6166;
}
.posts__content i img {
  max-width: 16px;
}
.posts__content > * {
  margin: 0;
}
.posts__content > *:not(:first-child) {
  margin-top: 10px;
}
.posts__tags {
  margin-bottom: -6px;
}
@media only screen and (max-width: 1039px) {
  .posts__tags {
    display: none;
  }
}
.bg-f9bc64 {
  background-color: #f9bc64 !important;
}
.bg-348aa7 {
  background-color: #348aa7 !important;
}
.bg-4436f8 {
  background-color: #4436f8 !important;
}
.bg-5dd39e {
  background-color: #5dd39e !important;
}
.bg-ff755a {
  background-color: #ff755a !important;
}
.bg-bce784 {
  background-color: #bce784 !important;
}
.bg-83253f {
  background-color: #83253f !important;
}
.bg-c49bbb {
  background-color: #c49bbb !important;
}
.bg-3ebafa {
  background-color: #3ebafa !important;
}
.bg-c6b38e {
  background-color: #c6b38e !important;
}
.bg-a7cdbd {
  background-color: #a7cdbd !important;
}
.bg-525252 {
  background-color: #525252 !important;
}
.bg-777da7 {
  background-color: #777da7 !important;
}
.bg-368f8b {
  background-color: #368f8b !important;
}
.bg-fef2e0 {
  background-color: #fef2e0 !important;
}
.bg-f2f4f6 {
  background-color: #f2f4f6 !important;
}
.bg-4f80b0 {
  background-color: #4f80b0 !important;
}
.bg-424ee8 {
  background-color: #424ee8 !important;
}
.bg-36b7d7 {
  background-color: #36b7d7 !important;
}
.bg-ec008c {
  background-color: #ec008c !important;
}
.bg-7cc576 {
  background-color: #7cc576 !important;
}
.bg-3a3a17 {
  background-color: #3a3a17 !important;
}
.bg-6f7e9c {
  background-color: #6f7e9c !important;
}
.bg-f26522 {
  background-color: #f26522 !important;
}
.bg-a3d39c {
  background-color: #a3d39c !important;
}
.bg-6f7e9c {
  background-color: #6f7e9c !important;
}
.bg-92278f {
  background-color: #92278f !important;
}
.bg-8781bd {
  background-color: #8781bd !important;
}
.bg-f1ab32 {
  background-color: #f1ab32 !important;
}
.bg-3b96ca {
  background-color: #3b96ca !important;
}
.bg-00bd9d {
  background-color: #00bd9d !important;
}
.bg-218380 {
  background-color: #218380 !important;
}